.mat-list-item h3 {
  font-weight: bold;
  font-size: 1.2em;
  text-overflow: ellipsis;
}
.mat-list-item p {
  text-overflow: ellipsis;
}
.note {
  color: gray;
}

.mat-list-item.active {
  background-color: indigo;
  color: #FFF;
}

.text-orange {
  color: orange;
}

.mat-line span {
  /* color: orange; */
}
