:host {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  overflow-y: auto;
}
.mat-input-element {
  height: 75vh;
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
  resize: none;
}

.datetime {
  padding-left: 20px;
  font-weight: bold;
  color: gray;
}
